/* COLORI DEL MENU */

#sidebar {
	/* Colore di sfondo della barra del menu */
	background: #03257e;
}
				
#sidebar nav a {
	/* colore della scritta spenta */
	color: rgb(97, 98, 100);
}

#sidebar nav a.active {
	/* 	colore della scritta accesa */
	color: #ffffff;
}
			
#sidebar nav a:before {
	/* 	gradiente barra sotto elemento del menu spento  */
	background: linear-gradient(to right, #03257e, #4e4f50);
}

#sidebar nav a:after {
	/* 	colore barra sotto elemento del menu acceso  */
	background-color: #d3fad3;
}

#sidebar nav a:after {
	/* 	gradiente barra sotto elemento del menu acceso  */
	/* (mettere lo stesso a tutti) */
	background-image: -moz-linear-gradient(to right, #03257e, #d3fad3);
	background-image: -webkit-linear-gradient(to right, #03257e, #d3fad3);
	background-image: -ms-linear-gradient(to right, #03257e, #d3fad3);
	background-image: linear-gradient(to right, #03257e, #d3fad3);
}
						
/*******************/
						
/* COLORI TESTO */
body, input, select, textarea {
	/*	colore scritte nel sito */
	color: rgba(255, 255, 255, 0.80);
}

blockquote{
	color: #bababa	
}

h1, h2, h3, h4, h5, h6 {
	/* colori titoli */
	color: #ffffff;
}

.wrapper.style3 .icon.major:before {
	/* colore icone della pagina 3 */
	color: #000000;
}

/**************************/

/* COLORI SFONDO */

body {
	/* 	background del sito */
	background: #03257e;
}

.wrapper.alt {
	/* 	background del sito mentre si carica */
	background-color: #03257e;
}

.wrapper.style1 {
	/* sfondo prima/quarta pagina */
 	background-color: #006eb3; 

}

.wrapper.style1-alt {
	/* sfondo prima pagina/quarta durante il caricamento e footer */
	background-color: #03257e;
}

.wrapper.style2 {
	/* sfondo seconda pagina */
	background-color: #bababa;
}

.wrapper.style2-alt {
	/* sfondo seconda pagina durante il caricamento */
	background-color: #bababa;
}

.wrapper.style3 {
	/* sfondo terza pagina */
	background-color: #999;
}

.wrapper.style3-alt {
	/* sfondo terza pagina durante il caricamento */
	background-color: #919389;
}
		
/***************/
		
		

	
	